<div class="content-column left">
    <h3>Personal Site</h3>
    <p>This site is a personal portfolio built as a static website using HTML and CSS.</p>
    <ul>
        <li><strong>Creating the Site:</strong> HTML, CSS</li>
        <li><strong>Hosting the Site:</strong> Azure Storage</li>
        <li><strong>Cost:</strong> $0. I'm hosting this on Azure free tier, so don't refresh too often.</li>
        <li><strong>Purpose:</strong> It just seemed like time to make one of these.</li>
    </ul>
</div>
