<div class="content-column left">
    <h3>
        <a href="{{ url_for('index') }}" target="_blank" rel="noopener noreferrer">Personal Site</a> |
        <a href="https://github.com/johnmehler/Website" target="_blank" rel="noopener noreferrer">Source Code</a>
    </h3>
    
    <p>This site is a personal portfolio built as a static website using HTML and CSS.</p>
    <ul>
        <li><strong>Creating the Site:</strong> HTML, CSS</li>
        <li><strong>Hosting the Site:</strong> Azure Storage, Github</li>
        <li><strong>Cost:</strong> $0. Hosted for free on Azure, so don't refresh too often.</li>
        <li><strong>Source Code:</strong> <a href="https://github.com/johnmehler/Website" target="_blank">GitHub Repository</a></li>
    </ul>
</div>
