<!-- /projects/middle.html -->
<div class="content-column middle">
    <h3>
        <a href="https://reisman.org/jmehler/rss/" target="_blank" rel="noopener noreferrer">RSS Reader</a> | 
        <a href="https://github.com/johnmehler/Website" target="_blank" rel="noopener noreferrer">Source Code</a>
    </h3>

    <p class="description">This is an RSS feed reader. It's a simple app that lists articles from sources I find interesting in chronological order.</p>
    <ul class="details-list">
        <li><strong>Creating the Site:</strong> Flask, HTML, CSS, JSON</li>
        <li><strong>Hosting the Site:</strong> Baremetal, Docker, Kubernetes, GitHub</li>
        <li><strong>Cost:</strong> $0. Hosted for free on existing baremetal servers.</li>
        <li><strong>Source Code:</strong> <a href="https://github.com/johnmehler/rss-reader" target="_blank">GitHub Repository</a></li>
    </ul>
</div>
