<!-- /projects/middle.html -->
<div class="content-column middle">
    <h3>
        <a href="https://boardgamearena.com/player?id=96600706" target="_blank" rel="noopener noreferrer">Patrick of the Abyss</a> | 
        <a href="https://github.com/johnmehler/patrick-of-the-abyss" target="_blank" rel="noopener noreferrer">Source Code</a>
    </h3>
    <p class="description">Someone made a parody BGA account <a href=https://boardgamearena.com/player?id=96600706 target="_blank">here</a> where he speaks in code (not me) (my elo is much higher). Steps to understand him: </p>
    <ul class="details-list"></ul>
        <li>Make sure you have Python installed</li>
        <li>Download the source code</li>
        <li>Copy the message he sends</li>
        <li>Run the "decode.py" file to get options for each encoded word</li>
    </ul>
</div>
