<!-- /resume/left.html -->
<div class="content-column left">
    <h2>Work History</h2>

    <div class="experience-item">
        <h3>Deloitte</h3>
        <p><strong>Senior Consultant, DevOps</strong></p>
        <p class="location-date">New York, New York | Apr 2023 – Present</p>
    </div>

    <div class="experience-item">
        <h3>Microsoft</h3>
        <p><strong>Customer Engineer, Azure DevOps</strong></p>
        <p class="location-date">Arlington, Virginia | Mar 2019 – Sep 2021</p>
    </div>

    <div class="experience-item">
        <h3>Taos</h3>
        <p><strong>Google Cloud DevOps Consultant</strong></p>
        <p class="location-date">Sunnyvale, California | Jul 2018 – Mar 2019</p>
    </div>

    <div class="experience-item">
        <h3>Connections Education</h3>
        <p><strong>Software Configuration Manager</strong></p>
        <p class="location-date">Columbia, Maryland | May 2017 – June 2018</p>
        </ul>
    </div>
</div>
