<!-- /resume/left.html -->
<div class="content-column left">
    <h2>Work History</h2>
    
    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/deloitte_logo.jpg" alt="Deloitte Logo" class="company-logo">
            <div class="text-content">
                <h3><strong>Senior Consultant, DevOps</strong></h3>
                <p><strong>Deloitte</strong></p> <!-- Make company name bold -->
                <p class="location-date">New York, New York | Apr 2023 – Present</p>
            </div>
        </div>
    </div>    

    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/microsoft.png" alt="Microsoft Logo" class="company-logo">
            <div class="text-content">
                <h3><strong>Customer Engineer, Azure DevOps</strong></h3>
                <p><strong>Microsoft</strong></p> <!-- Make company name bold -->
                <p class="location-date">Arlington, Virginia | Mar 2019 – Sep 2021</p>
            </div>
        </div>
    </div>
    
    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/taos.png" alt="Taos Logo" class="company-logo">
            <div class="text-content">
                <h3><strong>Google Cloud DevOps Consultant</strong></h3>
                <p><strong>Taos</strong></p> <!-- Make company name bold -->
                <p class="location-date">Sunnyvale, California | Jul 2018 – Mar 2019</p>
            </div>
        </div>
    </div>
    
    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/pearson.png" alt="Pearson Logo" class="company-logo">
            <div class="text-content">
                <h3><strong>Software Configuration Manager</strong></h3>
                <p><strong>Pearson</strong></p> <!-- Make company name bold -->
                <p class="location-date">Columbia, Maryland | May 2017 – June 2018</p>
            </div>
        </div>
    </div>    
</div>
