<!-- /resume/middle_column.html -->
<div class="content-column middle">
    <h2>Education</h2>

    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/hec-paris.png" alt="HEC Paris" class="company-logo">
            <div class="text-content">
                <h3>HEC Paris</h3>
                <p><strong>Master of Business Administration</strong></p>
                <p class="location-date">Paris, France | Sep 2021 – May 2023</p>
            </div>
        </div>
    </div>

    <div class="experience-item">
        <div class="experience-content">
            <img src="/static/images/pitt.png" alt="University of Pittsburgh" class="company-logo">
            <div class="text-content">
                <h3>University of Pittsburgh</h3>
                <p><strong>Bachelor of Arts, Philosophy</strong></p>
                <p class="location-date">Pittsburgh, Pennsylvania | Aug 2012 – Dec 2016</p>
            </div>
        </div>
    </div>
</div>
