<!-- templates/right_column.html -->
<div class="content-column right">
    <h2>Technical Background</h3>
    <div class="experience-item">
        <h3>Current Certifications</h3>
        <ul>
            <li>AZ-104: Azure Administrator Associate</li>
            <li>AWS Solutions Architect: Associate</li>
            <li>FinOps Certified Practitioner</li>
            <li>Security+</li>
        </ul>
    </div>
    <div class="experience-item">
        <h3>Prior Certifications</h3>
        <ul>
            <li>Azure Solutions Architect Expert</li>
            <li>Azure Administrator</li>
            <li>GCP Cloud Architect</li>
            <li>Chef Basic Fluency</li>
        </ul>
    </div>

    <div class="experience-item">
        <h3>Technology</h3>
        <ul>
            <li>Cloud Platforms: Azure, AWS, Google Cloud</li>
            <li>Scripting Languages: Python, PowerShell, Bash</li>
            <li>DevOps Tools: Azure DevOps</li>
            <li>Infrastructure as Code: Terraform, Bicep</li>
        </ul>
    </div>
</div>