<!-- templates/right_column.html -->
<div class="resume-column middle">
    <h2>Errata</h3>
    <div class="experience-item">
        <h3>Current Certifications</h3>
        <ul>
            <li><strong>AZ-104: Azure Administrator Associate</li></strong>
            <li><strong>AWS Solutions Architect: Associate</li></strong>
            <li><strong>FinOps Certified Practitioner</li></strong>
            <li><strong>Security+</li></strong>
        </ul>
    </div>
    <div class="experience-item">
        <h3>Prior Certifications</h3>
        <ul>
            <li><strong>Azure Solutions Architect Expert</strong></li>
            <li><strong>Azure Administrator</strong></li>
            <li><strong>GCP Cloud Architect</strong></li>
            <li><strong>Chef Basic Fluency</strong></li>
        </ul>
    </div>

    <div class="experience-item">
        <h3>Technology</h3>
        <ul>
            <li><strong>Cloud Platforms:</strong> Azure, AWS, Google Cloud</li>
            <li><strong>Scripting Languages:</strong> Python, PowerShell, Bash</li>
            <li><strong>DevOps Tools:</strong> Azure DevOps</li>
            <li><strong>Infrastructure as Code:</strong> Terraform, Bicep</li>
        </ul>
    </div>
</div>