<!-- templates/right_column.html -->
<div class="content-column right">
    <h2>Technology</h2>

    <!-- Cloud Certifications Section -->
    <div class="experience-item">
        <h3>Cloud Certifications</h3>
        <div class="certification-images">
            <img src="/static/images/az-104.png" alt="AZ-104: Azure Administrator Associate" class="certification-logo">
            <img src="/static/images/aws-solutions-architect.png" alt="AWS Solutions Architect: Associate" class="certification-logo">
            <img src="/static/images/terraform-003.png" alt="Terraform 003" class="certification-logo">
        </div>
    </div>

    <!-- Security Certifications Section -->
    <div class="experience-item">
        <h3>Security Certifications</h3>
        <div class="certification-images">
            <img src="/static/images/security-plus.webp" alt="Security+" class="certification-logo">
        </div>
    </div>

    <!-- FinOps Certifications Section -->
    <div class="experience-item">
        <h3>FinOps Certifications</h3>
        <div class="certification-images">
            <img src="/static/images/finops.png" alt="FinOps Certified Practitioner" class="certification-logo">
        </div>
    </div>

    <!-- Technology Skills Section -->
    <div class="experience-item">
        <h3>Technology Skills</h3>
        <ul>
            <li>Cloud Platforms: Azure, AWS, Google Cloud</li>
            <li>Scripting Languages: Python, PowerShell, Bash</li>
            <li>DevOps Tools: Azure DevOps</li>
            <li>Infrastructure as Code: Terraform, Bicep</li>
        </ul>
    </div>
</div>
