<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='./css/content.css') }}">
</head>
<body>
    <!-- Main Content -->
    <main>
        <div class="header-content">
            <div class="header-buttons">
                {% include 'header.html' %}
            </div>
        </div>
    </main>

    <!-- Resume Content -->
    <section class="resume">
        <div class="content-container">
            {% include '/resume/left.html' %}
            {% include '/resume/middle.html' %}
            {% include '/resume/right.html' %}
        </div>
    </section>

    <!-- Footer Section -->
    {% include 'footer.html' %}
</body>
</html>
